# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build
dist

# env (keep secrets local)
.env
.env.local
.env.*.local

# logs / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# ide / os
.DS_Store
.idea
.vscode

/generated/prisma
